@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    width: 350px;
    text-align: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
            width: 300px;
            border-radius: 25px;
        }

                .text-container {
                    width: 250px;

                    p {
                            color: hsl(220, 15%, 55%);
                        }
                }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
    position: absolute;
    bottom: 5px;
}